.map-tool {
  position: absolute;
  top: 100px;
  right: 20px;
  text-align: center;
  padding: 5px;
  box-sizing: border-box;
  z-index: 10;
}
.map-tool .tool-item {
  width: 30px;
  height: 30px;
  margin-bottom: 20px;
  border-radius: 15px;
  border: 2px solid #005bb0;
  padding: 4px;
  position: relative;
  background: #002649;
  box-shadow: inset 0px 0px 40px 0px rgba(0, 80, 148, 0.4);
  opacity: 0.8;
  display: flex;
  justify-content: center;
  align-items: center;
}
.map-tool .iconfont {
  font-size: 18px;
  /* width: 15px;
  height: 15px; */
  color: #fff;
}
